.video-banner-container {
  height: 600px;
  background-color: lightblue;
  position: relative;
  z-index: 0;
}

.floating-btn {
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
}
