.footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  color: white;
  background-color: #000c67;
  background-image: url(../../resources/svg/wave.svg);
  background-size: 100%;
  background-position-y: 65%;
  height: 640px;
  padding: 20px;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title-footer {
  text-align: center;
  font-size: 60px;
  margin-bottom: 70px;
}

.btn-click-footer {
  background-image: linear-gradient(
    to right,
    #0b26f0 30%,
    rgb(9, 123, 211) 51%,
    #0b26f0 100%
  );
  background-size: 250% auto;
  border-radius: 15px;
  height: 60px;
  width: 400px;
  color: white;
  font-size: 30px;
  border-style: none;
  cursor: pointer;
  transition: 0.5s;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
}

.btn-click-footer:hover {
  background-position: right center;
  color: #fff;
  text-decoration: none;
}

.derechos-footer h2 {
  font-size: 20px;
  font-weight: 300;
  color: white;
  text-decoration: none;
}

a.derechos-footer h2:hover,
a.derechos-footer h2:active {
  color: white;
  text-decoration: none;
}

@media screen and (max-width: 450px) {
  .footer {
    background-size: 300%;
    background-position-y: 70%;
    background-position-x: 40%;
    height: 500px;
  }

  .container {
    margin-top: 30px;
  }

  .title-footer {
    font-size: 30px;
    margin-bottom: 20px;
  }

  .btn-click-footer {
    border-radius: 30px;
    height: 55px;
    width: 330px;
    font-size: 25px;
  }

  a.derechos-footer {
    font-size: 15px;
    text-decoration: none;
  }
}
