/* CSS de componente Values */
@import url("https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@700&display=swap");

.values-container {
  width: 100%;
  padding: 52px 15px 52px 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #e4e4e4;
}

.values-title {
  margin-bottom: 100px;
  font-size: 90px;
  text-align: center;
  color: #0b26f0;
}

.values-card-container {
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-content: flex-start;
}

.values-card {
  width: 270px;
  height: 436px;
  margin: 10px 0px 10px 0px;
  padding: 35px 20px 35px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  border-radius: 20px;
  background-color: #ffffff;
}

.values-card div {
  width: 100%;
  margin: 40px 0px 20px 0px;
  font-family: "M PLUS Rounded 1c", sans-serif;
  font-weight: bold;
  font-size: 30px;
  text-align: center;
  color: #4e4e4e;
}

.values-card p {
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  text-align: center;
  color: #4e4e4e;
}

.bottom-card {
  width: 580px;
  height: 323px;
  margin: 30px 0px 0px 0px;
}

.bottom-card div {
  margin: 30px 0px 12px 0px;
  font-size: 40px;
}

/* media query 400px */
@media only screen and (max-width: 400px) {
  .values-container {
    padding: 40px 20px 40px 20px;
  }

  .values-title {
    margin-bottom: 40px;
    font-size: 35px;
  }

  .values-card {
    width: 160px;
    height: 250px;
    margin: 10px 0px 10px 0px;
    padding: 20px 10px 20px 10px;
  }

  .values-card img {
    height: 70px;
  }

  .values-card div {
    margin: 20px 0px 10px 0px;
    font-size: 18px;
  }

  .values-card p {
    font-size: 14px;
  }

  .bottom-card {
    width: 340px;
    height: 171px;
    margin: 10px;
    padding: 20px 10px 12px 10px;
  }

  .bottom-card div {
    margin: 15px 0px 10px 0px;
    font-size: 18px;
  }
}
