* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header-container {
  width: 100%;
  height: 105px;
  padding: 0px 50px 0px 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: radial-gradient(
    circle,
    rgba(0, 69, 121, 0.9752275910364145) 0%,
    rgba(0, 18, 61, 1) 100%,
    rgba(0, 35, 61, 1) 100%
  );
}

.nav-menu {
  display: flex;
  list-style: none;
}

.nav-menu li {
  display: flex;
  align-items: center;
}

.nav-menu li div {
  width: 6px;
  height: 52px;
  border-radius: 9px;
  box-shadow: 0px 3px 6px #0000004d;
}

.nav-menu li a {
  padding: 10px 20px 10px 20px;
  font-size: 18px;
  text-align: right;
  text-decoration: none;
  color: #ffffff;
  cursor: pointer;
}

.nav-menu li a:hover {
  text-decoration: underline;
}

.red {
  background-color: #fd6703;
}

.blue {
  background-color: #0092d5;
}

.yellow {
  background-color: #b2af00;
}

.green {
  background-color: #1ca497;
}

#burger {
  display: none;
}

.mobileMenuButton {
  width: 54px;
  height: 54px;
  border-style: none;
  border-radius: 27px;
  background-color: white;
  box-shadow: 0px 3px 6px #00000029;
  color: blue;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mobileMenuButton img {
  margin-left: 2.5px;
  cursor: pointer;
}

.openButton {
  color: blue;
  background-color: white;
  cursor: pointer;
}

.mobileMenulist {
  width: 278px;
  height: 399px;
  padding: 80px 60px 72px 60px;
  border-radius: 27px;
  background-color: #004579;
  z-index: 100;
}

.mobileMenu {
  width: 150px;
  display: flex;
  flex-direction: column;
  list-style: none;
}

.mobileMenu li {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.mobileMenu li a {
  padding: 10px 14px 10px 0px;
  font-size: 18px;
  text-align: right;
  text-decoration: none;
  color: #ffffff;
  cursor: pointer;
}

.mobileMenu li a:hover {
  text-decoration: underline;
}

.mobileMenu li div {
  width: 6px;
  height: 52px;
  border-radius: 9px;
  box-shadow: 0px 3px 6px #0000004d;
}

@media only screen and (max-width: 850px) {
  .header-container {
    padding: 0px 20px 0px 20px;
  }

  .nav-menu li a {
    padding: 10px 15px 10px 15px;
    font-size: 16px;
  }
  .nav-vacantes {
    padding: 0;
  }
}

@media only screen and (max-width: 450px) {
  .header-container {
    padding: 0px 20px 0px 20px;
  }

  #burger {
    display: block;
  }

  .mobileMenuContainer {
    width: 278px;
    position: absolute;
    top: 25px;
    left: 33%;
    z-index: 1000;
  }

  .mobileMenuButton {
    position: absolute;
    left: 223px;
  }

  .nav-menu {
    display: none;
  }
}
