.container-carousel {
  background-color: #000c67;
  height: 800px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.carousel-title {
  margin-bottom: 40px;
  font-size: 90px;
  text-align: center;
  color: white;
}

.slider .rsis-container {
  width: 600px !important;
}

.slider .rsis-image {
  width: 600px !important;
  height: 600px !important;
}

.slider {
  display: flex !important;
  justify-content: center !important;
}

.slider div {
  width: 600px !important;
}

@media only screen and (max-width: 450px) {
  .container-carousel {
    height: 650px;
  }

  .carousel-title {
    margin-bottom: 20px;
    font-size: 30px;
  }

  .slider .rsis-container {
    width: 100% !important;
  }

  .slider .rsis-image {
    width: 100% !important;
    height: 450px !important;
  }

  .slider div {
    width: 100% !important;
  }
}
