/* @import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap"); */

@font-face {
  font-family: "OmnesRegular";
  src: url("./resources/fonts/Omnes-Regular.otf") format("truetype");
  font-weight: normal;
  font-style: normal;
};

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "OmnesRegular", sans-serif;
  background-color: #e4e4e4;
}
