body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: "OmnesRegular";
  src: url("./resources/fonts/Omnes-Regular.otf");
  font-weight: normal;
}
@font-face {
  font-family: "OmnesBold";
  src: url("./resources/fonts/Omnes-Bold.otf");
  font-weight: bold;
}
